.fixture-table {
    background-color: white;
    border-collapse: collapse;

    
    .fixture-table-head {
        height: 4vh;
        justify-content: center;
        align-items: center;

        .played-against {
            width: 25vh;
            text-align: left;
        }

        .score {
            width: 10vh;
            text-align: center;
        }

        .time {
            width: 20vh;
            text-align: center;
        }
    }
}