.hg {
    border-bottom: 5px solid white;
    width: 13vh;
}

.status-tab {
    color: white;
    width: 13vh;
    font-weight: 500;
    font-size: 23px;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
}