.player-detail-component{
    display: flex;
    flex-direction: row;
    width: 90vh;
    height: fit-content;
    justify-content: space-around;
    align-items: center;
    border-bottom: 0.1px solid lightgrey;
}

.player-img{
    margin: 2rem;
    height: 150px;
    width: 150px;
    border-radius: 100;
}

.text-image{
    display: flex;
    flex-direction: column;
    justify-content: left;
}