.player-detail-component{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 30%;
    margin: 2rem;
    height: fit-content;
    border-style: solid;
    border-width: 4px;
    border-color: silver;
}

.player-img{
    margin-top: 2rem;
    height: 200px;
    width: 200px;
    border-radius: 100;
}

.text-image{
    display: flex;
    flex-direction: row;
    height: 20px;
    width: 20px;
}
