.stats-detail {
    display: flex;
    flex-direction: row;
    border-bottom: 0.1px solid lightgrey;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;

    .arrow-space {
        margin-top: 4px;
        width: 7vh;
    
        .collapse-arrow{
            height: 20px;
            width: 20px;
        }
    }
}

.stats-league-name {
    width: 15vh;
    display: flex;
    align-items: flex-start;
    font-size: 12px;
    font-weight: 600;
    text-align: left;
}

.stats-row {
    height: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 24.5vh;

    .stat-space {
        font-size: 12px;
        display: flex;
        align-items: flex-start;

        .header-text {
            font-weight: 600;
        }
    }
}