.league-div {
    height: 200px;
    width: 28vh;
    margin: 7px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover{
        background-color: #f8f8fd;
    }

    .league-image-holder {
        height: 170px;
        width: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;

        .league-image {
            height: 10vh;
            width: 10vh;
        }
    }

    .league-name {
        font-size: 20px;
        font-weight: 500;
    }
}