.leagues-container {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .leagues-title {
        height: 10vh;
        display: flex;
        background-color: #8082DD;
        color: white;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        font-size: 30px;
    }

    .leagues-tiles {
        height: 90vh;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        text-align: center;
        overflow: scroll;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}