.league-detail {
    background-color: #f8f8fd;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.league-detail-page {
    height: 100vh;
    overflow: hidden
}