.team-page {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .team-status {
        height: 13.2vh;
        display: flex;
        flex-direction: column;
    }

    .team-data {
        height: 80vh;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}