.team-page {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #f8f9fd;

    .team-status {
        height: 13.27vh;
        display: flex;
        flex-direction: column;
    }

    .team-data {
        height: 80vh;
        display: flex;
        justify-content: center;
        border-left: solid 1px black;
        border-right: solid 1px black;
    }
}