.league-table {
    background-color: white;
    width: 29.1vh;

    .league-table-header {
        border-collapse: collapse;

        tr:nth-child(odd) {
            background-color: #f1f1f1;
        }

        .league-table-head {
            display: flex;
            flex-direction: row;

            .pos {
                width: 40px;
                margin-left: 5px;
                text-align: left;
            }

            .team {
                width: 200px;
                display: flex;
                text-align: left;
            }

            .wld {
                width: 50px;
                text-align: left;
            }
        }
    }
}



.league-row {
    display: flex;
    flex-direction: row;

    .pos {
        width: 40px;
        margin-left: 5px;
        text-align: left;
    }

    .team {
        width: 200px;
        display: flex;
        text-align: left;
    }

    .wld {
        width: 50px;
        text-align: left;
    }
}