.logo-div {
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #8082DD;
    color: white;

    .logo-image {
        height: 60px;
        width: 60px;
    }
}