.league-table {
    background-color: white;


    .league-table-header {
        border-collapse: collapse;

        tr:nth-child(odd) {
            background-color: #f1f1f1;
        }

        .league-table-head {
            display: flex;
            flex-direction: row;
            height: 3.3vh;
            justify-content: center;
            align-items: center;

            .team {
                width: 25vh;
                display: flex;
                text-align: left;
            }

            .wld {
                width: 5vh;
                text-align: center;
            }
        }
    }
}



.league-row {
    display: flex;
    flex-direction: row;
    height: 3.3vh;
    justify-content: center;
    align-items: center;

    .team {
        width: 25vh;
        display: flex;
        text-align: left;
        cursor: pointer;
        align-items: center;

        .image {
            height:30px;
            width: 30px;
            align-items: center;
        }
    }

    .wld {
        width: 5vh;
        text-align: center;
    }
}