.player-detail-container {
    width: 90vh;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    overflow: scroll;

    &::-webkit-scrollbar {
        display: none;
    }

    .player-div {
        height: 220px;
        width: 186px;
        margin: 10px 10px;
        border: 1px solid black;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;

        .player-image-holder {
            height: 170px;
            width: 186px;
            display: flex;
            justify-content: center;
            align-items: center;

            .player-image {
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                height: 170px;
                width: 186px;
            }
        }

        .player-name {
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            font-weight: 500;
        }
    }
}