.fixtures-list {
    height: 100vh;
    width: 90vh;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: flex-start;
}

.loader-space {
    height: 100vh;
    width: 90vh;
    align-items: center;
    background-color: white;
}
