.team-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
    background-color: #8082DD;

    .team-logo-image {
        height: 60px;
        width: 60px;
        align-items: center;
        justify-content: center;
    }
}