.link{
    display: flex;
    font-weight: bolder;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    background-color: black;
    height: 10vh;
    justify-content:left;
    align-items: center;
}